# Exemplo de produção. Copie para terraform.tfvars e ajuste os valores.

modo_local             = false
projeto                = "frequenciapp-prod"
regiao                 = "us-central1"
ambiente               = "prod"
imagem_aplicacao       = "us-central1-docker.pkg.dev/frequenciapp-prod/frequenciapp-prod:versao"
habilitar_rede_privada = true
emails_alarme          = ["operacao@exemplo.br"]
